.carbon-footprint-container {
    --card-color: #191a23;
    --card-shadow: 0px 5px 0px var(--card-color);
    border: 1px solid var(--card-color);
    border-radius: 45px;
    box-shadow: var(--card-shadow);
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    background-color: #f8f0ec;
}

.main-metric {
    margin-bottom: 20px;
}

.co2-amount {
    font-size: 52px;
    font-weight: bold;
    color: var(--color-2);
}

.time-period {
    font-size: 26px;
    color: var(--color-2);
}

.scale-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.scale-min,
.scale-max {
    font-size: 14px;
    color: #666;
    margin: 0 10px;
}

.scale-bar {
    flex-grow: 1;
    height: 35px;
    background-color: #ddd;
    border-radius: 25px;
    position: relative;
}

.scale-progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, #75bf91 0%, #f08262 100%);
    border-radius: 25px;
}

.comparison {
    font-size: 24px;
    color: #301934;
    line-height: 1.4;
    margin-bottom: 20px;
}
.info {
    font-style: italic;
}

.smileys {
    font-size: 24px;
}

.custom-hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 40px 0;
    width: 100%;
}

@media (max-width: 768px) {
    .carbon-footprint-container {
        padding: 20px;
        max-width: 90%;
    }
}
.scale-label {
    position: absolute;
    right: 5px; /* marge à droite */
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: white;
    font-weight: bold;
    white-space: nowrap; /* évite que le texte passe à la ligne */
    max-width: 90%; /* empêche de dépasser */
    overflow: hidden;
    text-overflow: ellipsis; /* ajoute "..." si vraiment trop long */
}
